/**
* Author : bksahu <batakrishna.sahu@suiit.ac.in>
*/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:800');

/* Navbar Title */
.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 1.8em !important;
}

/* Heart */
.fa-heart {
  color: #98002e;
}

/* Shadow effect for navbar */
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #222;
    -moz-box-shadow: 0 8px 6px -6px #222;
    box-shadow: 0 8px 6px -6px #222;
}

/* Clock and next class name */
.main {
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 40px;
  background-color: #1f1f1f;
  color: #999797;
  height: 40%;
  padding: 50px;
}

.className {
  font-size: 80px;
  padding-bottom: 10px;
}

.tableHead {
  font-size: 20px;
}

/* Ending Information */

.info {
  font-family: sans-serif;
  margin-top: -20px;
  padding: 15px;
  padding-bottom: 2px;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .main {
    font-size: 24px;
    height: 50%;
    padding: 50px;
  }

  .className {
    font-size: 28px;
  }
}
